/*azul: #1E90FF; */
*{
	font-family: "Lato", sans-serif;
}

header{
	background: url(../img/banner.jpg);
	height: 600px;
	background-size: 100% 100%
}

.blanco{
	color: white;
	font-size: 1.5em;
}

.azul{
	color:  #1E90FF;
	font-family: 'Montserrat', sans-serif;
	margin-left: 15%;
	font-size: 150%;
}

.filtro{
	background-color: rgba(0,0,0,0.5);
	height: 600px;
}
.txtb{
	color: white;
}


button{
	background-color: #1E90FF;
	color:white;
	width: 30%;
	display: block;
	margin: auto;
	padding: 3%;
	margin-top:2%;
	border: solid 1px #1E90FF; 
   border-radius: 3%;
   font-size: 190%;
}

<<<<<<< HEAD
.azul{
	color:  #1E90FF;
}

.imagen1{
	background-image: url("../img/pic01.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%

=======
i{
    color:  white;
    font-family: "Lato", sans-serif;
}

h1{
	text-align: center;
	color: white;
	margin: 2% 0;
}
.centrar--header{
	margin-top: 20%;
}

.text--center{
	text-align: center;
>>>>>>> header
}